/*   GENERAL    */
.blue-divider{
    width: 20%;
    height: 2px;
    background-color: #3366FF;
    display: block;
    margin: auto;
    margin-bottom: 65px;
}



/*  NAVBAR  */
/* nav{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
} */
nav a{
  position: relative;
}

nav a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 0%;
    border-bottom: 2px solid #3366FF;
    transition: 0.4s;
}

nav a:hover:after {
    width: 80%;
}

.nav-link.active:after{
    width: 80%;
    border-bottom: 2px solid #3366FF !important;
    transition: 0.4s;
}






/*   ABOUT    */
#about{
    padding-top:40px;
    height: 90vh;
    position: relative;
}
#about .about-img-wrapper{
    position: relative;
    width: fit-content;
    display: block;
    margin-left: 5%;
}

#about img{
    width: 75vh;
}

#about .about-title-wrapper{
    position: absolute;
    left: 400px;
    bottom: -70px;
    max-width: 100%;
}

#about h1{
    font-weight: 900;
    font-size: 6em;
    line-height: 85px;
}

#about h1 .mailhe{
    display: block;
    padding-left: 40px;
    color: #fff;
    text-shadow: 2px 2px 4px black;
}

#about figure{
    position: absolute;
    background-color: #f7f7f7;
    bottom : 400px;
    left: 180px;
    width: fit-content;
    padding: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}







/* SKILLS */
#skills{
    background-color: #f7f7f7;
    padding-bottom: 40px;
}
#skills .heading img{
    width: 50px;
    margin-right:13px;
}

#skills img.chevron{
    width: 20px;
    margin-right:8px;
}

#skills h3{
    display: inline-block;
}

#skills ul li{
    list-style: none;
    margin-bottom: 8px;
}

#skills i{
    font-weight: bold;
    font-size: 16px;
    color: #3366FF;
}