  <section class="mt-5" id="about">
    <div class="container">
      <div class="about-img-wrapper">
        <img src="../../../assets/img/me.png">
        <div class="about-title-wrapper">
          <h1 class="text-uppercase fst-italic">Dorian<br><span class="mailhe">Mailhé</span></h1>
          <figure class="text-center">
            <blockquote class="blockquote">
              <p>Je fais sa pour le fric wsh</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Dorian Mailhé <cite title="Source Title">cacestsur.com</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>



  <section id="skills">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 110" class="MainPage-module--bottomTriangle--2iA_2">
      <path d="M 0 0 L 1920 0 L 960 110 Z" fill="#dddddd"></path>
    </svg>
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-6">
          <h2 class="text-uppercase text-center mb-3 mt-5">compétences</h2>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div *ngFor="let skill of skills" class="row mb-5">
        <div class="col-md-6 skill-pills">
          <div class="heading mb-4">
            <img src="{{ skill.title_1.img }}">
            <h3 class="align-middle ml-5">{{ skill.title_1.name }}</h3>
          </div>
          <ul>
            <li *ngFor="let s of skill.data_1">
              <div class="row">
                <div class="col-4">{{ s.lang }}</div>
                <div class="col-4 mt-2">
                  <div class="progress mt-1" style="height: 2px;">
                    <div class="progress-bar bg-dark" role="progressbar" [ngStyle]="{'width': s.skill}" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>              
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="heading mb-4">
            <img src="{{ skill.title_2.img }}">
            <h3 class="align-middle ml-5">{{ skill.title_2.name }}</h3>
          </div>
          <ul>
            <li *ngFor="let s of skill.data_2">
              <div class="row">
                <div class="col-4">{{ s.lang }}</div>
                <div class="col-4 mt-2">
                  <div class="progress mt-1" style="height: 2px;">
                    <div class="progress-bar bg-dark" role="progressbar" [ngStyle]="{'width': s.skill}" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section id="experience">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 160" class="MainPage-module--bottomTriangle--2iA_2">
      <path d="M 0 0 L 640 100 L 1280 0 L 1920 100 L 1920 0 Z" fill="#f7f7f7"></path>
    </svg>
    <div class="container">
      <h2 class="text-uppercase text-center mb-3 mt-5">expérience</h2>
      <div class="blue-divider"></div>
      <div class="total">
        <img src="../../../assets/img/total-favicon.png">
        <h3>TotalEnergies</h3>
        <p>Stage de 4 mois chez Total (devenu TotalEnergies).</p>
        <p>Développement d'outils géophysiques avec Angular, ainsi qu'un espace membre avec Expressjs/Sequelize.</p>
      </div>
      <div class="projetdemocratia">
        <img src="../../../assets/img/projetdemocratia-favicon.png">
        <h3>Projet Democratia</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p>Aliquam quis elit nibh. Quisque pretium tortor ac ipsum ornare auctor. Pellentesque in consequat eros. Ut
          facilisis imperdiet mi, vel luctus ante porta ac</p>
      </div>
      <div class="devweb">
        <img src="../../../assets/img/freelance-favicon.png">
        <h3>Développeur web freelance</h3>
        <p>Recherche de missions en tant que développeur web junior en freelance.</p>
        <p>Travail sur plusieurs projets de sites pour des particuliers.</p>
      </div>
    </div>
  </section>


  <div class="container">
    <section id="education">
      <h2 class="text-uppercase text-center mb-3">éducation</h2>
      <div class="blue-divider"></div>
      <div class="col-md-6">
        <div class="education-block">
          <h5>2018-2020</h5>
          <span class="fas fa-graduation-cap"></span>
          <h3>Lycée Pierre de Fermat</h3>
          <h4>Classe préparatoire</h4>
          <div class="red-divider"></div>
          <p>Après un bac S spécialité Mathématiques</p>
          <p>Physique Chimie (PC)</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="education-block">
          <h5>2020</h5>
          <span class="fas fa-graduation-cap"></span>
          <h3>CY Tech Pau (ex-EISTI)</h3>
          <h4>Ecole d'ingénieur</h4>
          <div class="red-divider"></div>
          <p>Spécalisée en informatique</p>
          <p class="font-italic">(en cours)</p>
        </div>
      </div>
    </section>

    <section id="portfolio">
      <h2 class="text-uppercase text-center mb-3">Portfolio</h2>
      <div class="blue-divider"></div>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p>Ceci est mon texte 1</p>
          </div>
          <div class="carousel-item">
            <p>Ceci est mon texte 2</p>
          </div>
          <div class="carousel-item">
            <p>Ceci est mon texte 3</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section id="contact">
      <h2 class="text-uppercase text-center mb-3">Contact</h2>
      <div class="blue-divider"></div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="form-group">
            <form id="contact-form" method="post" action="" role="form">
              <div class="row">
                <div class="col-md-6">
                  <label for="firstname">Prénom *</label>
                  <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Votre prénom"
                    value="">
                </div>
                <div class="col-md-6">
                  <label for="name">Nom *</label>
                  <input type="text" id="name" name="name" class="form-control" placeholder="Votre nom" value="">
                </div>
                <div class="col-md-6">
                  <label for="email">Email *</label>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Votre email" value="">
                </div>
                <div class="col-md-6">
                  <label for="phone">Téléphone</label>
                  <input type="tel" id="phone" name="phone" class="form-control" placeholder="Votre numéro de téléphone"
                    value="">
                </div>
                <div class="col-md-12">
                  <label for="message">Message *</label>
                  <textarea type="text" id="message" name="message" class="form-control" placeholder="Votre message"
                    rows="4" value=""></textarea>
                </div>
                <div class="col-md-12">
                  <p><strong>* Ces informations sont requises.</strong></p>
                </div>
                <div class="col-md-12">
                  <input type="submit" class="btn btn-lg btn-outline-primary" value="Envoyer">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </div>
