<div class="container">
  <nav [ngStyle]="{'background-color':themeService.greyColor}" class="navbar fixed-top navbar-expand-md navbar-light"
    id="myNavbar">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span [ngStyle]="{'filter':switchService.darkTheme ? 'invert(1)' : 'invert(0)' }" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav text-uppercase">
        <li class="nav-item px-3">
          <a [ngClass]="switchService.darkTheme ? 'dark-link' : ''" class="nav-link" aria-current="page" href="#about">{{ 'navme' | translate }}</a>
          <hr />
        </li>
        <li class="nav-item px-3">
          <a [ngClass]="switchService.darkTheme ? 'dark-link' : ''" class="nav-link" href="#skills">{{ 'skilltitle' | translate }}</a>
          <hr />
        </li>
        <li class="nav-item px-3">
          <a [ngClass]="switchService.darkTheme ? 'dark-link' : ''" class="nav-link" href="#experience">{{ 'experiencetitle' | translate }}</a>
          <hr />
        </li>
        <li class="nav-item px-3">
          <a [ngClass]="switchService.darkTheme ? 'dark-link' : ''" class="nav-link" href="#education">{{ 'educationtitle' | translate }}</a>
          <hr />
        </li>
        <li class="nav-item px-3">
          <a [ngClass]="switchService.darkTheme ? 'dark-link' : ''" class="nav-link" href="#portfolio">{{ 'portfoliotitle' | translate }}</a>
          <hr />
        </li>
        <li class="nav-item px-3">
          <a [ngClass]="switchService.darkTheme ? 'dark-link' : ''" class="nav-link" href="#links">{{ 'linkstitle' | translate }}</a>
          <hr />
        </li>
        <li class="nav-item px-3">
          <a [ngClass]="switchService.darkTheme ? 'dark-link' : ''" class="nav-link" href="#contact">{{ 'contacttitle' | translate }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
